body {
  margin:0px;
  background-image:none;
  position:relative;
  left:0px;
  width:1200px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u2329_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1111px;
  height:1621px;
}
#u2329 {
  border-width:0px;
  position:absolute;
  left:27px;
  top:12px;
  width:1111px;
  height:1621px;
  display:flex;
}
#u2329 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2329_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2330_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:546px;
  height:723px;
}
#u2330 {
  border-width:0px;
  position:absolute;
  left:283px;
  top:1676px;
  width:546px;
  height:723px;
  display:flex;
}
#u2330 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2330_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
