body {
  margin:0px;
  background-image:none;
  position:relative;
  left:0px;
  width:1200px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u1752 {
  border-width:0px;
  position:absolute;
  left:21px;
  top:75px;
  width:1142px;
  height:150px;
}
#u1753_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:30px;
}
#u1753 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:30px;
  display:flex;
}
#u1753 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1753_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1754_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:510px;
  height:30px;
}
#u1754 {
  border-width:0px;
  position:absolute;
  left:49px;
  top:0px;
  width:510px;
  height:30px;
  display:flex;
  text-align:left;
}
#u1754 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1754_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1755_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:583px;
  height:30px;
}
#u1755 {
  border-width:0px;
  position:absolute;
  left:559px;
  top:0px;
  width:583px;
  height:30px;
  display:flex;
  text-align:left;
}
#u1755 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1755_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1756_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:30px;
}
#u1756 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:30px;
  width:49px;
  height:30px;
  display:flex;
}
#u1756 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1756_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1757_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:510px;
  height:30px;
}
#u1757 {
  border-width:0px;
  position:absolute;
  left:49px;
  top:30px;
  width:510px;
  height:30px;
  display:flex;
  text-align:left;
}
#u1757 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1757_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1758_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:583px;
  height:30px;
}
#u1758 {
  border-width:0px;
  position:absolute;
  left:559px;
  top:30px;
  width:583px;
  height:30px;
  display:flex;
  text-align:left;
}
#u1758 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1758_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1759_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:30px;
}
#u1759 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:60px;
  width:49px;
  height:30px;
  display:flex;
}
#u1759 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1759_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1760_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:510px;
  height:30px;
}
#u1760 {
  border-width:0px;
  position:absolute;
  left:49px;
  top:60px;
  width:510px;
  height:30px;
  display:flex;
  text-align:left;
}
#u1760 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1760_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1761_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:583px;
  height:30px;
}
#u1761 {
  border-width:0px;
  position:absolute;
  left:559px;
  top:60px;
  width:583px;
  height:30px;
  display:flex;
  text-align:left;
}
#u1761 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1761_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1762_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:30px;
}
#u1762 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:90px;
  width:49px;
  height:30px;
  display:flex;
}
#u1762 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1762_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1763_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:510px;
  height:30px;
}
#u1763 {
  border-width:0px;
  position:absolute;
  left:49px;
  top:90px;
  width:510px;
  height:30px;
  display:flex;
  text-align:left;
}
#u1763 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1763_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1764_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:583px;
  height:30px;
}
#u1764 {
  border-width:0px;
  position:absolute;
  left:559px;
  top:90px;
  width:583px;
  height:30px;
  display:flex;
  text-align:left;
}
#u1764 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1764_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1765_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:30px;
}
#u1765 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:120px;
  width:49px;
  height:30px;
  display:flex;
}
#u1765 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1765_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1766_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:510px;
  height:30px;
}
#u1766 {
  border-width:0px;
  position:absolute;
  left:49px;
  top:120px;
  width:510px;
  height:30px;
  display:flex;
  text-align:left;
}
#u1766 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1766_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1767_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:583px;
  height:30px;
}
#u1767 {
  border-width:0px;
  position:absolute;
  left:559px;
  top:120px;
  width:583px;
  height:30px;
  display:flex;
  text-align:left;
}
#u1767 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1767_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1768 label {
  left:0px;
  width:100%;
}
#u1768_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u1768 {
  border-width:0px;
  position:absolute;
  left:38px;
  top:83px;
  width:15px;
  height:16px;
  display:flex;
}
#u1768 .text {
  position:absolute;
  align-self:center;
  padding:0px 2px 0px 2px;
  box-sizing:border-box;
}
#u1768_img.selected {
}
#u1768.selected {
}
#u1768_img.disabled {
}
#u1768.disabled {
}
#u1768_img.selectedDisabled {
}
#u1768.selectedDisabled {
}
#u1768_text {
  border-width:0px;
  position:absolute;
  left:17px;
  top:0px;
  width:-4px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1768_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  opacity:0;
}
#u1769 label {
  left:0px;
  width:100%;
}
#u1769_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u1769 {
  border-width:0px;
  position:absolute;
  left:38px;
  top:112px;
  width:15px;
  height:16px;
  display:flex;
}
#u1769 .text {
  position:absolute;
  align-self:center;
  padding:0px 2px 0px 2px;
  box-sizing:border-box;
}
#u1769_img.selected {
}
#u1769.selected {
}
#u1769_img.disabled {
}
#u1769.disabled {
}
#u1769_img.selectedDisabled {
}
#u1769.selectedDisabled {
}
#u1769_text {
  border-width:0px;
  position:absolute;
  left:17px;
  top:0px;
  width:-4px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1769_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  opacity:0;
}
#u1770 label {
  left:0px;
  width:100%;
}
#u1770_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u1770 {
  border-width:0px;
  position:absolute;
  left:38px;
  top:141px;
  width:15px;
  height:16px;
  display:flex;
}
#u1770 .text {
  position:absolute;
  align-self:center;
  padding:0px 2px 0px 2px;
  box-sizing:border-box;
}
#u1770_img.selected {
}
#u1770.selected {
}
#u1770_img.disabled {
}
#u1770.disabled {
}
#u1770_img.selectedDisabled {
}
#u1770.selectedDisabled {
}
#u1770_text {
  border-width:0px;
  position:absolute;
  left:17px;
  top:0px;
  width:-4px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1770_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  opacity:0;
}
#u1771 label {
  left:0px;
  width:100%;
}
#u1771_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u1771 {
  border-width:0px;
  position:absolute;
  left:38px;
  top:174px;
  width:15px;
  height:16px;
  display:flex;
}
#u1771 .text {
  position:absolute;
  align-self:center;
  padding:0px 2px 0px 2px;
  box-sizing:border-box;
}
#u1771_img.selected {
}
#u1771.selected {
}
#u1771_img.disabled {
}
#u1771.disabled {
}
#u1771_img.selectedDisabled {
}
#u1771.selectedDisabled {
}
#u1771_text {
  border-width:0px;
  position:absolute;
  left:17px;
  top:0px;
  width:-4px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1771_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  opacity:0;
}
#u1772 label {
  left:0px;
  width:100%;
}
#u1772_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u1772 {
  border-width:0px;
  position:absolute;
  left:38px;
  top:200px;
  width:15px;
  height:16px;
  display:flex;
}
#u1772 .text {
  position:absolute;
  align-self:center;
  padding:0px 2px 0px 2px;
  box-sizing:border-box;
}
#u1772_img.selected {
}
#u1772.selected {
}
#u1772_img.disabled {
}
#u1772.disabled {
}
#u1772_img.selectedDisabled {
}
#u1772.selectedDisabled {
}
#u1772_text {
  border-width:0px;
  position:absolute;
  left:17px;
  top:0px;
  width:-4px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1772_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  opacity:0;
}
#u1773_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:426px;
  height:37px;
}
#u1773 {
  border-width:0px;
  position:absolute;
  left:737px;
  top:243px;
  width:426px;
  height:37px;
  display:flex;
}
#u1773 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1773_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1774_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:285px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:15px;
  color:#F64006;
}
#u1774 {
  border-width:0px;
  position:absolute;
  left:21px;
  top:42px;
  width:285px;
  height:17px;
  display:flex;
  font-size:15px;
  color:#F64006;
}
#u1774 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1774_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
