body {
  margin:0px;
  background-image:none;
  position:relative;
  left:0px;
  width:1200px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u1192 {
  border-width:0px;
  position:absolute;
  left:21px;
  top:75px;
  width:1142px;
  height:150px;
}
#u1193_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:30px;
}
#u1193 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:30px;
  display:flex;
}
#u1193 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1193_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1194_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:510px;
  height:30px;
}
#u1194 {
  border-width:0px;
  position:absolute;
  left:49px;
  top:0px;
  width:510px;
  height:30px;
  display:flex;
  text-align:left;
}
#u1194 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1194_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1195_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:583px;
  height:30px;
}
#u1195 {
  border-width:0px;
  position:absolute;
  left:559px;
  top:0px;
  width:583px;
  height:30px;
  display:flex;
  text-align:left;
}
#u1195 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1195_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1196_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:30px;
}
#u1196 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:30px;
  width:49px;
  height:30px;
  display:flex;
}
#u1196 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1196_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1197_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:510px;
  height:30px;
}
#u1197 {
  border-width:0px;
  position:absolute;
  left:49px;
  top:30px;
  width:510px;
  height:30px;
  display:flex;
  text-align:left;
}
#u1197 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1197_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1198_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:583px;
  height:30px;
}
#u1198 {
  border-width:0px;
  position:absolute;
  left:559px;
  top:30px;
  width:583px;
  height:30px;
  display:flex;
  text-align:left;
}
#u1198 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1198_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1199_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:30px;
}
#u1199 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:60px;
  width:49px;
  height:30px;
  display:flex;
}
#u1199 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1199_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1200_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:510px;
  height:30px;
}
#u1200 {
  border-width:0px;
  position:absolute;
  left:49px;
  top:60px;
  width:510px;
  height:30px;
  display:flex;
  text-align:left;
}
#u1200 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1200_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1201_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:583px;
  height:30px;
}
#u1201 {
  border-width:0px;
  position:absolute;
  left:559px;
  top:60px;
  width:583px;
  height:30px;
  display:flex;
  text-align:left;
}
#u1201 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1201_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1202_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:30px;
}
#u1202 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:90px;
  width:49px;
  height:30px;
  display:flex;
}
#u1202 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1202_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1203_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:510px;
  height:30px;
}
#u1203 {
  border-width:0px;
  position:absolute;
  left:49px;
  top:90px;
  width:510px;
  height:30px;
  display:flex;
  text-align:left;
}
#u1203 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1203_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1204_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:583px;
  height:30px;
}
#u1204 {
  border-width:0px;
  position:absolute;
  left:559px;
  top:90px;
  width:583px;
  height:30px;
  display:flex;
  text-align:left;
}
#u1204 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1204_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1205_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:30px;
}
#u1205 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:120px;
  width:49px;
  height:30px;
  display:flex;
}
#u1205 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1205_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1206_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:510px;
  height:30px;
}
#u1206 {
  border-width:0px;
  position:absolute;
  left:49px;
  top:120px;
  width:510px;
  height:30px;
  display:flex;
  text-align:left;
}
#u1206 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1206_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1207_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:583px;
  height:30px;
}
#u1207 {
  border-width:0px;
  position:absolute;
  left:559px;
  top:120px;
  width:583px;
  height:30px;
  display:flex;
  text-align:left;
}
#u1207 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1207_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1208 label {
  left:0px;
  width:100%;
}
#u1208_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u1208 {
  border-width:0px;
  position:absolute;
  left:38px;
  top:83px;
  width:15px;
  height:16px;
  display:flex;
}
#u1208 .text {
  position:absolute;
  align-self:center;
  padding:0px 2px 0px 2px;
  box-sizing:border-box;
}
#u1208_img.selected {
}
#u1208.selected {
}
#u1208_img.disabled {
}
#u1208.disabled {
}
#u1208_img.selectedDisabled {
}
#u1208.selectedDisabled {
}
#u1208_text {
  border-width:0px;
  position:absolute;
  left:17px;
  top:0px;
  width:-4px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1208_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  opacity:0;
}
#u1209 label {
  left:0px;
  width:100%;
}
#u1209_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u1209 {
  border-width:0px;
  position:absolute;
  left:38px;
  top:112px;
  width:15px;
  height:16px;
  display:flex;
}
#u1209 .text {
  position:absolute;
  align-self:center;
  padding:0px 2px 0px 2px;
  box-sizing:border-box;
}
#u1209_img.selected {
}
#u1209.selected {
}
#u1209_img.disabled {
}
#u1209.disabled {
}
#u1209_img.selectedDisabled {
}
#u1209.selectedDisabled {
}
#u1209_text {
  border-width:0px;
  position:absolute;
  left:17px;
  top:0px;
  width:-4px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1209_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  opacity:0;
}
#u1210 label {
  left:0px;
  width:100%;
}
#u1210_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u1210 {
  border-width:0px;
  position:absolute;
  left:38px;
  top:141px;
  width:15px;
  height:16px;
  display:flex;
}
#u1210 .text {
  position:absolute;
  align-self:center;
  padding:0px 2px 0px 2px;
  box-sizing:border-box;
}
#u1210_img.selected {
}
#u1210.selected {
}
#u1210_img.disabled {
}
#u1210.disabled {
}
#u1210_img.selectedDisabled {
}
#u1210.selectedDisabled {
}
#u1210_text {
  border-width:0px;
  position:absolute;
  left:17px;
  top:0px;
  width:-4px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1210_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  opacity:0;
}
#u1211 label {
  left:0px;
  width:100%;
}
#u1211_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u1211 {
  border-width:0px;
  position:absolute;
  left:38px;
  top:174px;
  width:15px;
  height:16px;
  display:flex;
}
#u1211 .text {
  position:absolute;
  align-self:center;
  padding:0px 2px 0px 2px;
  box-sizing:border-box;
}
#u1211_img.selected {
}
#u1211.selected {
}
#u1211_img.disabled {
}
#u1211.disabled {
}
#u1211_img.selectedDisabled {
}
#u1211.selectedDisabled {
}
#u1211_text {
  border-width:0px;
  position:absolute;
  left:17px;
  top:0px;
  width:-4px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1211_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  opacity:0;
}
#u1212 label {
  left:0px;
  width:100%;
}
#u1212_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u1212 {
  border-width:0px;
  position:absolute;
  left:38px;
  top:200px;
  width:15px;
  height:16px;
  display:flex;
}
#u1212 .text {
  position:absolute;
  align-self:center;
  padding:0px 2px 0px 2px;
  box-sizing:border-box;
}
#u1212_img.selected {
}
#u1212.selected {
}
#u1212_img.disabled {
}
#u1212.disabled {
}
#u1212_img.selectedDisabled {
}
#u1212.selectedDisabled {
}
#u1212_text {
  border-width:0px;
  position:absolute;
  left:17px;
  top:0px;
  width:-4px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1212_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  opacity:0;
}
#u1213_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:426px;
  height:37px;
}
#u1213 {
  border-width:0px;
  position:absolute;
  left:737px;
  top:243px;
  width:426px;
  height:37px;
  display:flex;
}
#u1213 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1213_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1214_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:285px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:15px;
  color:#F64006;
}
#u1214 {
  border-width:0px;
  position:absolute;
  left:21px;
  top:42px;
  width:285px;
  height:17px;
  display:flex;
  font-size:15px;
  color:#F64006;
}
#u1214 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1214_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
