body {
  margin:0px;
  background-image:none;
  position:relative;
  left:0px;
  width:1200px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u2569 {
  border-width:0px;
  position:absolute;
  left:88px;
  top:77px;
  width:1086px;
  height:90px;
}
#u2570_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:30px;
}
#u2570 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:30px;
  display:flex;
}
#u2570 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2570_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2571_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:146px;
  height:30px;
}
#u2571 {
  border-width:0px;
  position:absolute;
  left:145px;
  top:0px;
  width:146px;
  height:30px;
  display:flex;
}
#u2571 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2571_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2572_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:252px;
  height:30px;
}
#u2572 {
  border-width:0px;
  position:absolute;
  left:291px;
  top:0px;
  width:252px;
  height:30px;
  display:flex;
}
#u2572 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2572_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2573_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:30px;
}
#u2573 {
  border-width:0px;
  position:absolute;
  left:543px;
  top:0px;
  width:181px;
  height:30px;
  display:flex;
}
#u2573 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2573_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2574_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:30px;
}
#u2574 {
  border-width:0px;
  position:absolute;
  left:724px;
  top:0px;
  width:181px;
  height:30px;
  display:flex;
}
#u2574 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2574_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2575_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:30px;
}
#u2575 {
  border-width:0px;
  position:absolute;
  left:905px;
  top:0px;
  width:181px;
  height:30px;
  display:flex;
}
#u2575 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2575_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2576_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:30px;
}
#u2576 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:30px;
  width:145px;
  height:30px;
  display:flex;
}
#u2576 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2576_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2577_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:146px;
  height:30px;
}
#u2577 {
  border-width:0px;
  position:absolute;
  left:145px;
  top:30px;
  width:146px;
  height:30px;
  display:flex;
}
#u2577 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2577_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2578_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:252px;
  height:30px;
}
#u2578 {
  border-width:0px;
  position:absolute;
  left:291px;
  top:30px;
  width:252px;
  height:30px;
  display:flex;
}
#u2578 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2578_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2579_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:30px;
}
#u2579 {
  border-width:0px;
  position:absolute;
  left:543px;
  top:30px;
  width:181px;
  height:30px;
  display:flex;
}
#u2579 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2579_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2580_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:30px;
}
#u2580 {
  border-width:0px;
  position:absolute;
  left:724px;
  top:30px;
  width:181px;
  height:30px;
  display:flex;
}
#u2580 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2580_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2581_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:30px;
}
#u2581 {
  border-width:0px;
  position:absolute;
  left:905px;
  top:30px;
  width:181px;
  height:30px;
  display:flex;
}
#u2581 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2581_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2582_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:30px;
}
#u2582 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:60px;
  width:145px;
  height:30px;
  display:flex;
}
#u2582 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2582_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2583_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:146px;
  height:30px;
}
#u2583 {
  border-width:0px;
  position:absolute;
  left:145px;
  top:60px;
  width:146px;
  height:30px;
  display:flex;
}
#u2583 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2583_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2584_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:252px;
  height:30px;
}
#u2584 {
  border-width:0px;
  position:absolute;
  left:291px;
  top:60px;
  width:252px;
  height:30px;
  display:flex;
}
#u2584 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2584_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2585_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:30px;
}
#u2585 {
  border-width:0px;
  position:absolute;
  left:543px;
  top:60px;
  width:181px;
  height:30px;
  display:flex;
}
#u2585 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2585_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2586_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:30px;
}
#u2586 {
  border-width:0px;
  position:absolute;
  left:724px;
  top:60px;
  width:181px;
  height:30px;
  display:flex;
}
#u2586 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2586_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2587_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:30px;
}
#u2587 {
  border-width:0px;
  position:absolute;
  left:905px;
  top:60px;
  width:181px;
  height:30px;
  display:flex;
}
#u2587 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2587_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2588_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:26px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2588 {
  border-width:0px;
  position:absolute;
  left:88px;
  top:42px;
  width:66px;
  height:26px;
  display:flex;
}
#u2588 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2588_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2589_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:26px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2589 {
  border-width:0px;
  position:absolute;
  left:178px;
  top:42px;
  width:66px;
  height:26px;
  display:flex;
}
#u2589 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2589_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2590_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:26px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2590 {
  border-width:0px;
  position:absolute;
  left:427px;
  top:42px;
  width:66px;
  height:26px;
  display:flex;
}
#u2590 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2590_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2591_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:26px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2591 {
  border-width:0px;
  position:absolute;
  left:259px;
  top:42px;
  width:66px;
  height:26px;
  display:flex;
}
#u2591 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2591_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2592_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:26px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2592 {
  border-width:0px;
  position:absolute;
  left:340px;
  top:42px;
  width:66px;
  height:26px;
  display:flex;
}
#u2592 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2592_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2593_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:26px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2593 {
  border-width:0px;
  position:absolute;
  left:1009px;
  top:109px;
  width:66px;
  height:26px;
  display:flex;
}
#u2593 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2593_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2594_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:26px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2594 {
  border-width:0px;
  position:absolute;
  left:1089px;
  top:109px;
  width:66px;
  height:26px;
  display:flex;
}
#u2594 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2594_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
