body {
  margin:0px;
  background-image:none;
  position:relative;
  left:0px;
  width:1200px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u2493_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1113px;
  height:1911px;
}
#u2493 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:7px;
  width:1113px;
  height:1911px;
  display:flex;
}
#u2493 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2493_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2494_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:716px;
  height:899px;
}
#u2494 {
  border-width:0px;
  position:absolute;
  left:178px;
  top:1963px;
  width:716px;
  height:899px;
  display:flex;
}
#u2494 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2494_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
